@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.gradient-text {
  background: linear-gradient(to right, #7EC8FF, #66D6D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
